Projeto/flows.json
[
    {
        "id": "73b33ad7cd014af5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bfc7c0ce75d0f1a",
        "type": "http response",
        "z": "73b33ad7cd014af5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 2360,
        "wires": []
    },
    {
        "id": "2b49c13123f84bf6",
        "type": "debug",
        "z": "73b33ad7cd014af5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2520,
        "wires": []
    },
    {
        "id": "828421bbbd3b0142",
        "type": "http in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "url": "/gethackacook",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 2440,
        "wires": [
            [
                "800578ee0a11fb24"
            ]
        ]
    },
    {
        "id": "800578ee0a11fb24",
        "type": "cloudantplus in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "cloudant": "30f452cc14a33a75",
        "database": "hackacook",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 350,
        "y": 2440,
        "wires": [
            [
                "1bfc7c0ce75d0f1a",
                "2b49c13123f84bf6"
            ]
        ]
    },
    {
        "id": "4a6b79c2368ca797",
        "type": "http in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "url": "/getContato",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "36fd40c51fae932f"
            ]
        ]
    },
    {
        "id": "39c49b46283fd704",
        "type": "http response",
        "z": "73b33ad7cd014af5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "81a6e421a4c30729",
        "type": "debug",
        "z": "73b33ad7cd014af5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba589508dc292c9b",
        "type": "http in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "url": "/postContato",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "998475a86feceb4f"
            ]
        ]
    },
    {
        "id": "0772286638020a8d",
        "type": "http response",
        "z": "73b33ad7cd014af5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "0929abe319a1a14b",
        "type": "debug",
        "z": "73b33ad7cd014af5",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "998475a86feceb4f",
        "type": "cloudantplus out",
        "z": "73b33ad7cd014af5",
        "name": "",
        "cloudant": "30f452cc14a33a75",
        "database": "hackarthurcmm",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "0772286638020a8d",
                "0929abe319a1a14b"
            ]
        ]
    },
    {
        "id": "df622031834821c4",
        "type": "http in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "url": "/delContato",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "c417e97ceafbda77"
            ]
        ]
    },
    {
        "id": "512a033326360ddf",
        "type": "http response",
        "z": "73b33ad7cd014af5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "e1514220b35b17b8",
        "type": "debug",
        "z": "73b33ad7cd014af5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "b11c1bd7ab0dc2c5",
        "type": "http in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "url": "/editContato",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "3370a555c6454b7a"
            ]
        ]
    },
    {
        "id": "c417e97ceafbda77",
        "type": "cloudantplus out",
        "z": "73b33ad7cd014af5",
        "name": "",
        "cloudant": "30f452cc14a33a75",
        "database": "hackarthurcmm",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "512a033326360ddf",
                "e1514220b35b17b8"
            ]
        ]
    },
    {
        "id": "3370a555c6454b7a",
        "type": "cloudantplus out",
        "z": "73b33ad7cd014af5",
        "name": "",
        "cloudant": "30f452cc14a33a75",
        "database": "hackarthurcmm",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "bce6e61983a45da7",
                "ccc329768f9cf1ff"
            ]
        ]
    },
    {
        "id": "ccc329768f9cf1ff",
        "type": "http response",
        "z": "73b33ad7cd014af5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "bce6e61983a45da7",
        "type": "debug",
        "z": "73b33ad7cd014af5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "36fd40c51fae932f",
        "type": "cloudantplus in",
        "z": "73b33ad7cd014af5",
        "name": "",
        "cloudant": "30f452cc14a33a75",
        "database": "hackarthurcmm",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "39c49b46283fd704",
                "81a6e421a4c30729"
            ]
        ]
    },
    {
        "id": "30f452cc14a33a75",
        "type": "cloudantplus",
        "host": "https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "ArthurCMM",
        "useapikey": true
    }
]