Aula 12 - 2023_06_05/Aula 12 - 2023_06_05.json
[
    {
        "id": "fc46808e0ffb0379",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2719d205ceeb3360",
        "type": "ibmiot in",
        "z": "fc46808e0ffb0379",
        "authentication": "apiKey",
        "apiKey": "d05c27d53981e171",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "lcj8oh",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "31133b2b8589cb7b"
            ]
        ]
    },
    {
        "id": "2cd595b01a54dad1",
        "type": "debug",
        "z": "fc46808e0ffb0379",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "31133b2b8589cb7b",
        "type": "split",
        "z": "fc46808e0ffb0379",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "6d3269691cb5695f"
            ]
        ]
    },
    {
        "id": "6d3269691cb5695f",
        "type": "delay",
        "z": "fc46808e0ffb0379",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "0882b09b5054935a"
            ]
        ]
    },
    {
        "id": "0882b09b5054935a",
        "type": "cloudantplus out",
        "z": "fc46808e0ffb0379",
        "name": "",
        "cloudant": "90a309d608c84f79",
        "database": "tigrao",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "2cd595b01a54dad1"
            ]
        ]
    },
    {
        "id": "0189a97823dc1cea",
        "type": "http in",
        "z": "fc46808e0ffb0379",
        "name": "",
        "url": "/listar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "4643b5f998c78cd8"
            ]
        ]
    },
    {
        "id": "1cdfe02f98c49b6c",
        "type": "http response",
        "z": "fc46808e0ffb0379",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "340e1e349aae5d39",
        "type": "debug",
        "z": "fc46808e0ffb0379",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "4643b5f998c78cd8",
        "type": "cloudantplus in",
        "z": "fc46808e0ffb0379",
        "name": "",
        "cloudant": "3c1dec6ca8c4d1ad",
        "database": "tigrao",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "1cdfe02f98c49b6c",
                "340e1e349aae5d39"
            ]
        ]
    },
    {
        "id": "d05c27d53981e171",
        "type": "ibmiot",
        "name": "Baymax",
        "keepalive": "60",
        "serverName": "lcj8oh.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "90a309d608c84f79",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "tigrao",
        "useapikey": true
    },
    {
        "id": "3c1dec6ca8c4d1ad",
        "type": "cloudantplus",
        "host": "https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "bernardorohlfscloud",
        "useapikey": true
    }
]